@import url('/src/styles/global.css');

/*  ------------
     NAVEGATION
    ------------ */

nav {
    /* box-m */
    padding: 20px 80px;
    box-shadow: 0 5px 15px var(--nav-color-shadow);
    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display */
    position: sticky;
    top: 0;
    left: 0;
    /* effects */
    background: var(--nav-background);
    z-index: 999;   
}
    #buttons-home button,
    #buttons-mobile button {
        /* box-m */
        padding: 0px 20px;
        border: none;
        outline: none;
        /* display */
        position: relative;
        /* effects */
        background: none;
        font-size: 16px;
        font-weight: 500;
        transition: 0.03 ease;
        cursor: pointer;
    }
    #buttons-home button:hover, 
    #buttons-home .active {
        color: var(--nav-color-button-active);
    }
    #buttons-home .wear-1.active::after,
    #buttons-home .wear-2.active::after {
        content: "";
        /* box-m */
        width: 30px;
        border-bottom: 2px solid var(--nav-color-button-active);
        /* display */
        position: absolute;
        bottom: -4px;
        left: 21%;
        /* effects */
        color: var(--nav-color-button-active);
    }
    #buttons-mobile, #buttons-side-leaf {
        display: none;
    }    

    /* Medium devices (tablets, 768px and up) */
@media (max-width:779px) {

    /*  ________________________
        NAVEGATION AREA - MOBILE
    */
    #buttons-home {
        display: none;
    }
    #buttons-mobile {
        display: inline;
    }    
        #buttons-mobile button:hover {
            color: var(--nav-color-button-active);
        }
    #buttons-side-leaf {
        padding: 40px 15px;  
        /* box-m */
        width: 250px;
        height: 100vh;
        border-left: 1px solid var(--nav-color-border-sideleaf);
        /* display */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -250px;
        /* effects */
        background: var(--nav-background-sideleaf);
        transition: 0.3s;      
    }
        #buttons-side-leaf button {
            /* box-m */
            padding: 0px 20px;
            margin-bottom: 20px;            
            border: none;
            /* display */
            position: relative;
            /* effects */
            background: none;
            font-size: 16px;
            font-weight: 500;
            outline: none; 
            cursor: default;
            }
        #buttons-side-leaf button:hover, 
        #buttons-side-leaf .active {
            color: var(--nav-color-button-active);
        }
        #buttons-side-leaf .wear-1.active::after,
        #buttons-side-leaf .wear-2.active::after {
            content: "";
            /* box-m */
            width: 30px;
            border-bottom: 2px solid var(--nav-color-button-active);
            /* display */
            position: absolute;
            left: 21%;
            bottom: -4px;
            /* effects */
            color: var(--nsv-color-button-active);
        }
        #buttons-side-leaf.active {
            right: 0px;
        }

    /*  ________________________
        PRODUCTS
    */

    /* main */
    /* .section-padding {
        padding: 20px 40px;
    }    
    .p-container {
        justify-content: center;
    }    
        .product {
            margin: 15px;
        } */
    
}

@media (max-width: 477px) {

    /*  ________________________
        NAVEGATION AREA - MOBILE
    */
    nav {
        padding: 20px 40px;
    }
        #buttons-mobile button {
            padding: 0px 15px;
        }
}
