@import url('/src/styles/global.css');

:root {
    /* modal - items in cart */
    --pic-m-opacity : rgba(0, 0, 0, 0.5);
    --pic-m-border : #cce7d0;
    --pic-m-background : #FFFFFF;
    --pic-m-border-total-section : rgb(208, 218, 223);
    --pic-m-background-buy-button : #088178;
    --pic-m-color-border-buy-button : #bbd4bf;
    --pic-m-color-border-item : #bbd4bf; 
    --pic-m-background-item : #e8f6ea;   
    --pic-m-color-delete-button : rgb(78, 92, 99);
    /* modal - thanks */
    --thanks-m-opacity : rgba(0, 0, 0, 0.5);    
    --thanks-m-background-1 : white;
    --thanks-m-background-2 : #ECECEC;
    --thanks-m-border : #cce7d0;    
    --thanks-m-background-button : #088178;    
    --thanks-m-color-border-button : #bbd4bf;
}

/*  ---------
     WAITING 
    --------- */

/* #products-in-cart {
    display: none;
} */

/*  ------------------
     PRODUCTS IN CART
    ------------------ */

#products-in-cart {
    /* box-m */
    width: 100%;
    height: 100vh;
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* effects */
    background: var(--pic-m-opacity);
    visibility: visible;
    opacity: 1;
}
    .pic-modal {
        /* box-m */
        width: 50%;
        height: 60vh;
        border: 1px solid var(--pic-m-border);
        border-radius: 5px;
        /* display */
        position: relative;
        /* effects */
        background: var(--pic-m-background);
        transition: transform 0.8s;
        transform: translateY(0%);
    }
    #pic-close-button {
        border: none;
        position: absolute;
        top: 5px;
        right: 5px;
        /* effects */
        background-color: transparent;
        font-size: 18px;
        font-weight: 500;
        outline: none;
        cursor: pointer;
    }
    #pic-item-container {
        width: 100%;
        height: 75%;
        padding: 20px 10px;
        margin: 10px auto;
        overflow: auto;
    }
    .pic-item {
        width: 100%;
        padding: 5px 10px;
        border: var(--pic-m-color-border-item);
        margin-bottom: 3px;
        border-radius: 5px;
        display: flex;
        /* effects */
        background: var(--pic-m-background-item);
    }
        .pic-item figure {
            width: 15%;
        }
            .pic-item figure img {
                width: 100%;
                border-radius: 5px;
            }            
            .pic-item div {
                width: 85%;
                padding: 5px 0 0;
            }
                .pic-item div span {
                    padding: 15px;
                }
                .pic-item div h5 {
                    padding: 5px 15px 0 15px;
                }
                .pic-item div h4 {
                    padding: 10px 15px;
                }
            .pic-item button {
                margin: 20px;
                border: none;
                /* effects */
                background-color: transparent;
                font-size: 16px;
                color: var(--pic-m-color-delete-button);
                cursor: pointer;
            }
    #pic-total {
        width: 97%;
        height: 15%;
        padding: 10px 50px;
        border: 1px solid var(--pic-m-border-total-section);
        border-radius: 3px;
        margin: 12px auto;
        /* display */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #pic-total div {
        display: flex;
        align-items: baseline;
    }
        #pic-total div h4 {
                padding: 0 0 0 20px;
        }
    #pic-buy-button {
        padding: 7px 50px 7px 50px;
        border: 1px solid var(--pic-m-color-border-buy-button);
        border-radius: 5px;
        /* effects */
        background: var(--pic-m-background-buy-button);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;            
    }
    .pic-modal-close {
        /* transform: translateY(-200%); */
    }                
                                   
/*  ------------------
     THANKS FOR BUY
    ------------------ */

#thanks {
    /* box-m */
    width: 100%;
    height: 100vh;
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* effects */
    background: var(--pic-m-opacity);
    visibility: hidden;
    opacity: 0;
}
    .th-modal {
        /* box-m */
        width: 50%;
        height: 45vh;
        border: 1px solid var(--thanks-m-border);
        border-radius: 5px;
        /* display */
        display: flex;
        justify-content: center;
        align-items: center;
        /* effects */
        background: var(--thanks-m-background-1);
        transition: transform 0.8s;
        transform: translateY(0%);
    }
    #thanks .th-modal div {
        width: 98%;
        height: 95%;
        border-radius: 5px;
        /* display */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* effects */
        background: var(--thanks-m-background-2);
        background-image: url("/public/assets/images/bkThanks.png"); 
        background-size: cover;
        background-repeat: no-repeat;
    }
        #thanks .th-modal div h3 {
            padding-bottom: 10px;
        }
        #thanks .th-modal div figure img {
            height: 50px;
            padding-bottom: 25px;
        }
        #thanks .th-modal div button {
        padding: 7px 50px 7px 50px;
        border: 1px solid var(--thanks-m-color-border-button);
        border-radius: 5px;
        /* effects */
        background: var(--thanks-m-background-button);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;            
    }
    .th-modal-close {
        transform: translateY(-200%);
    }                
    

    /* small devices (tablets, 768px and up) */
@media (max-width: 779px) {
    
    /*  ____________
        BUY - MODAL
    */
    .pic-item {
        display: flex;
        flex-direction: column;
        position: relative;
    }
        .pic-item figure {            
            width: 80%;
        }    
        .pic-item button {
            position: absolute;
            top: 0px;
            right: 0px;
        }
    #pic-total {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #pic-total div {
        margin: 2px 0 3px 0;
    }    

}
